
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge España - Discord bot</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="static/css/bootstrap-agent-dark-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">JE</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Project Details -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="mb-4">Discord Moderation and Meme Bot</h1>
                    <div class="mb-4">
                        <span class="badge badgeBackground">JavaScript</span>
                        <span class="badge badgeBackground">JSON</span>
                        <span class="badge badgeBackground">Discord library</span>
                    </div>
                    <h2 class="mb-3">Project Overview</h2>
                    <p>Discord bot I built in 2019 to moderate swear words in sfw channels. I had to update the 
                        bot's programming in 2025 due to deprecated discord functions and an outdated command
                        structure. 
                    </p>
                    <br></br>
                    <!-- <div class="iframeElement">
                        <iframe src=
                        "https://docs.google.com/presentation/d/e/1PACX-1vRYMmWkOnxdJTRw87ABn4oqihhEvkM5NJ2Rc7DSObsuWxE7in0V8xLe_MIrRJEDabNBjCG7H6rmMYwo/embed?start=false&loop=false&delayms=3000" 
                        frameborder="-1" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    </div> -->
                    <div class="iframeElement">
                        <img src="/static/assets/QTCgifs/signIn.gif" class="responsive-gif" width="960" height="569"/>
                    </div>
                    <br></br>
                    <h2 class="mb-3"> Technical Design </h2>
                    <p>The bot is programmed entirely in javascript and runs on NodeJS. Deployed using Docker to my personal server.
                        Secrets are kept in a .env file which is included in the .gitignore to prevent leaked secrets. 
                        Dictionary of swear words was retrieved from <a href = "http://www.bannedwordlist.com/"> http://www.bannedwordlist.com/ </a>
                    </p>
                    <h2 class="mb-3 mt-5">Use Cases</h2>
                    <ul class="list-group list-group-flush mb-5">
                        <li class="list-group-item">Moderates user messages to detect inappropriate language on sfw channels</li>
                        <li class="list-group-item">Includes some fun commands to promote friendly banter without profane or bigoted language</li>
                        <li class="list-group-item">Helps to keep track of aggressive users </li>
                    </ul>

                    <h2 class="mb-3 mt-5">Technical Implementation</h2>
                    <ul class="list-group list-group-flush mb-5">
                        <li class="list-group-item">Microservices Architecture: Modular design for easy maintenance and
                            scalability.
                        </li>
                        <li class="list-group-item">Azure Key Vault: Secure storage and management of secrets, keys, and
                            certificates.
                        </li>
                        <li class="list-group-item">Microsoft SQL Server: Reliable database management system for data
                            storage.
                        </li>
                        <li class="list-group-item">ASP.NET Core: Utilized alongside SQL Server and Azure Key Vault for
                            robust application development.
                        </li>
                    </ul>
                    <div class="mt-5">
                        <a href="/static/files/QTC.zip" class="btn btn-outline-light me-3" download>
                            <i class="fab fa-github me-2"></i>View Source Code
                        </a>
                        <a href="#" class="btn btn-outline-light">
                            <i class="fas fa-external-link-alt me-2"></i>Live Demo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-4 text-center">
        <div class="container">
        </div>
    </footer>

    <script src="static/js/main.js"></script>
</body>

</html>